@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <style>
        #pred1 {
            margin-left: 0%;
            width: 100%;
            height: auto;
            /* left: 239px;*/
            top: 310px;
            background: #FFE49E;
            box-shadow: 0px 4px 4px rgba(167, 111, 13, 0.52);
            border-radius: 60px;
        }

        #pred2 {
            margin-left: 0%;
            width: 100%;
            height: auto;
            left: 240px;
            top: 478px;
            background: #CDB4FF;
            box-shadow: 0px 4px 4px rgba(80, 6, 106, 0.25);
            border-radius: 60px;
        }

        #pred3 {
            margin-left: 0%;
            width: 100%;
            height: auto;
            left: 239px;
            top: 636px;
            background: #9FE2FF;
            box-shadow: 0px 4px 4px #54C4F8;
            border-radius: 60px;
        }

      
    </style>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section">

        <div class="container">

            <div class="row mb-2" data-aos="fade-up" data-aos-delay="200">

                <div class="container">
                    <br />
                    <ResultTitle> Areas you will most likely be employed in: </ResultTitle><br /><br />
                    <p style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 24px; line-height: 29px; color: rgba(92, 90, 90, 0.67);"> Click on the job title to find out more</p>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10 mr-auto">

                    <resultitle>Prediction 1</resultitle>
                    <button class="container" id="pred1" onclick="location.href='@Url.Action("Jobs","Search",new {prediction=@ViewBag.pred1 })'">
                        <br />

                        <resultpredict> @ViewBag.pred1  </resultpredict><br />
                        <br />
                    </button><br /><br />



                    <resultitle>Prediction 2</resultitle><br />
                    <button class="container" id="pred2" onclick="location.href='@Url.Action("Jobs","Search",new {prediction=@ViewBag.pred2 })'">
                        <br />

                        <resultpredict> @ViewBag.pred2 <br /> </resultpredict><br />
                    </button><br /><br />


                    <resultitle>Prediction 3</resultitle><br />
                    <button class="container" id="pred3" onclick="location.href='@Url.Action("Jobs","Search",new {prediction=@ViewBag.pred3 })'">
                        <br />

                        <resultpredict>  @ViewBag.pred3 <br /> </resultpredict><br />
                    </button><br /><br />
                    <div style="margin-top:20px">

                        <button id="emailbut" type="button" class="btn btn-primary mr-2 mb-4">
                            Send result via email    <img src="~/images/email.svg" type="image/x-icon" />
                        </button>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Please enter your email address</span>
                            </div>
                            <input id="email" type="text" class="form-control">

                        </div>


                    </div>
                </div>

                <div class="col-xl-5 col-lg-5  align-content-start" data-aos="fade-left">
                    <img class="img-fluid pt-6 d-none d-lg-block align-content-start" src="~/images/3304458 1.png" alt="Image" />

                </div>
                <div class="col-1"></div>



            </div><br />
                  <div class="row justify-content-around">
                      <img src="~/images/text-box 1.png" /> <br />

                  </div>
               
           
            
            <div class="row justify-content-center">

                <a href="~/Search/Articles" class="btn btn-primary mr-2 mb-2">Go to Articles  ➔</a>
            </div>

        </div>



    </div>


</body>

<script>
    $("#emailbut").click(function (e) {
        debugger;
        e.preventDefault();
        var email = $("#email").val();
        var isValidEmail = true;
        ValidateEmail(email);
        function ValidateEmail(email)
        {
            debugger;
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
             if (!(email.match(mailformat))) {
            debugger;
                 alert("Invalid email address! Please input a valid email address.");
                 isValidEmail = false;

        }
        }
        if (isValidEmail) {
            var saveUrl = '@Url.Action("CallEmail")';
         
            var prediction1 = "@ViewBag.pred1";
            var prediction2 = "@ViewBag.pred2";
            var prediction3 = "@ViewBag.pred3";


            $.ajax({
                url: saveUrl,
                data: {
                    'prediction1': prediction1, 'prediction2': prediction2, 'prediction3': prediction3, 'email': email
                },
                method: "POST",
                error: function () {
                    alert("Ajax call failed");
                }
            }).done(function () {
                alert("Email sent!");
            })
        }
    });
</script>

@*<script>

    $("#pred1").click(function () {
        debugger;
         var prediction1 = "@ViewBag.pred1";
      
        var Url = '@Url.Action("Jobs","Search")';
        $.ajax({
            url: Url,
            data: {
                'prediction': prediction1
            },
            method: "POST",
            error: function () {
                alert();
            }
        })
    });
      $("#pred2").click(function () {
    var prediction2 = "@ViewBag.pred2";
        alert(prediction2);


    });
</script>*@


